*.idea/
*/node_modules/
/ai_story-main/
/huobao-drama-master/
/MoneyPrinterTurbo-main/
/Pixelle-Video-main/
/ShortGPT-stable/
*/package-lock.json
*.next/
*.venv/
*.db
/backend/app/static/generated/
*dist/
*release
*logs/
*.DS_Store
*.log
.env
.env.local
.env.*.local
*.vscode/
/backend/app/static/comics/
**/__pycache__/
*.pyc
backend/static/generated
*.txt
frontend/local/
scripts
*.bak
