*.idea/
node_modules/
/frontend/package-lock.json
/ai_story-main/
/huobao-drama-master/
/MoneyPrinterTurbo-main/
/Pixelle-Video-main/
/ShortGPT-stable/
*.next/
*.venv/
*.db
/backend/app/static/generated/
*dist/
*release
*logs/
*.DS_Store
*.log
.env
.env.local
.env.*.local
*.vscode/
/backend/app/static/comics/
**/__pycache__/
*.pyc
backend/static/generated
*.txt
frontend/local/
**/scripts
*.bak
backend/system_settings.json
docs/短剧/qiongming.txt
*.zip